html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fons/Gilroy-Regular.woff") format("woff"), url("../fons/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fons/Gilroy-Bold.woff") format("woff"), url("../fons/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fons/Gilroy-SemiBold.woff") format("woff"), url("../fons/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

.wraper {
  width: 100%;
  height: 100%;
  background: url(../img/discountFon.png);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.link, .discount__tittle, .discount__sub-tittle, .discount__text, .discount__link {
  font-family: "Gilroy";
  font-style: normal;
  color: #ffffff;
}

/****************************************************
****************************header*******************
****************************************************/
.header__content {
  margin: 0 20px;
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}

.header__nav {
  margin-right: 60px;
}

.header__basket {
  cursor: pointer;
  position: relative;
  top: 5px;
  z-index: 1;
}

.header__basket img {
  width: 26px;
  height: 25px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 580px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.navigation__item {
  padding: 10px 55px 10px 0;
  border-right: 1px solid #fff;
}

.navigation__item:last-child {
  padding-right: 0;
  border-right: none;
}

.link {
  font-weight: normal;
  font-size: 20px;
  line-height: 1px;
  position: relative;
}

.link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.link:hover::after {
  width: 100%;
}

.header__number-basket {
  position: absolute;
  top: -7px;
  right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-family: " Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

/****************************************************
****************************discount*******************
****************************************************/
.main {
  margin: 0 20px;
}

.discount__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 300px;
  margin-top: 100px;
}

.discount__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.discount__tittle {
  font-weight: bold;
  font-size: 50px;
  line-height: 73px;
}

.discount__sub-tittle {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  margin-top: 40px;
}

.discount__span {
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid #626262;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 35px;
  margin-right: 20px;
}

.discount__span:last-of-type {
  margin-right: 0px;
  margin-left: 20px;
}

.discount__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-top: 60px;
  max-width: 697px;
}

.discount__text:last-of-type {
  margin-top: 20px;
}

.discount__link {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background: #29aaec;
  border-radius: 10px;
  padding: 19px 88px 19px 55px;
  display: inline-block;
  margin-top: 80px;
  position: relative;
}

.discount__link::after {
  content: "";
  position: absolute;
  background: url(../img/telegram.svg);
  width: 25px;
  height: 20px;
  top: 24px;
  right: 50px;
}

.discount__images {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.discount__images img {
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  top: -220px;
  right: -330px;
}
